#This file is meant to be edited in your own distribution of MANTIS
#Custom hmms can be added to the "custom_hmms" folder or their absolute path can be added here
#Please add absolute paths to hmms outside of the "custom_hmms" folder
#pfam 17.929 profiles, 1.4GB
#kofam 22.848 profiles, 5.7 GB
#dbcan 641 profiles, 90MB
#tigrfam 4.488 profiles, 637MB
#resfams 170 profiles, 24MB
#NOGG 190.647 profiles, 32GB
#cas 398 profiles, 57MB
#brenda 3.870 profiles, 826MB
#metacyc 945 profiles, 211MB
#swissprot 2.419 profiles, 530MB
#transportdb 123 profiles, 44MB
#NOGT 1.5TB
#total 244.478 profiles, 41.615GB



#######DEFAULT PATHS#######
#You can add custom paths here, otherwise they will be set to default values
#uniprot_folder=
#go_obo_folder=
#ncbi_dmp_path_folder=
#default_hmms_folder=
#NOGT_hmm_folder=
#NOGG_hmm_folder=
#pfam_hmm_folder=
#kofam_hmm_folder=
#dbcan_hmm_folder=
#tigrfam_hmm_folder=
#resfams_hmm_folder=
uniprot_nlp_folder=/work/projects/ecosystem_biology/local_tools/mantis/Resources/Uniprot/
go_obo_nlp_folder=/work/projects/ecosystem_biology/local_tools/mantis/Resources/Gene_Ontology/
ncbi_dmp_path_folder=/work/projects/ecosystem_biology/local_tools/mantis/Resources/NCBI/
NOGT_hmm_folder=/work/projects/ecosystem_biology/data/hmm/eggnog_mantis/NOGT
NOGG_hmm_folder=/work/projects/ecosystem_biology/data/hmm/eggnog_mantis/NOGG
pfam_hmm_folder=/work/projects/ecosystem_biology/data/hmm/pfam
kofam_hmm_folder=/work/projects/ecosystem_biology/data/hmm/kofam_mantis
dbcan_hmm_folder=/work/projects/ecosystem_biology/data/hmm/dbCAN_v8
tigrfam_hmm_folder=/work/projects/ecosystem_biology/data/hmm/tigrfam
resfams_hmm_folder=/work/projects/ecosystem_biology/data/hmm/resfams

#####Make sure the  names of the weights correspond to the path of the hmms
#####example: <NOGT>_hmm_folder should be <NOGT>_weight
#####example: custom_hmm=path/to/customHMM.hmm should be customHMM_weight
NOGT_weight=1
NOGG_weight=0.9
dbcan_weight=0.5
tigrfam_weight=0.5
resfams_weight=0.9
Burstein2016.Nature.Cas_db_weight=0.9


#######CUSTOM HMMS#######
#custom_hmms_folder=
custom_hmm=/work/projects/ecosystem_biology/data/hmm/Cas/Burstein2016.Nature.Cas_db.hmm
custom_hmm=/work/projects/ecosystem_biology/data/hmm/HMM2015/BRENDA/brenda.hmm
#custom_hmm=/work/projects/ecosystem_biology/data/hmm/HMM2015/metacyc/metacyc.hmm
custom_hmm=/work/projects/ecosystem_biology/data/hmm/HMM2015/SwissProt/swissprot.hmm
custom_hmm=/work/projects/ecosystem_biology/data/hmm/transportdb/transportdb_merged.hmm
