#This file is meant to be edited in your own distribution of MANTIS
#Custom hmms can be added to the "custom_hmms" folder or their absolute path can be added here
#Please add absolute paths to hmms outside of the "custom_hmms" folder


#######DEFAULT PATHS#######
#You can add custom paths here, otherwise they will be set to default values
#ncbi_resources_folder=
#default_ref_folder=
#####<custom_ref_folder> defines the folder where Mantis will look for MULTIPLE custom HMMs or DMND. Each HMM should be contained within a folder, such that the path will look something like this: /path/to/custom_ref_folder/custom1/custom1.hmm
#custom_ref_folder=
#nog_hmm_folder=
#pfam_hmm_folder=
#kofam_hmm_folder=
#ncbi_hmm_folder=
#tcdb_seq_folder=
#nog_tax=NCBI_ID

#####Make sure the  names of the weights correspond to the path of the hmms
#####example: <NOGT>_hmm_folder should be <NOGT>_weight
#####example: custom_ref=path/to/customHMM.hmm should be customHMM_weight
nog_weight=0.8
pfam_weight=0.9


#######CUSTOM REFERENCES#######
#####<custom_ref> defines the folder or file where Mantis will look for a SINGLE custom reference (HMM or DMND). The path will look something like this: /path/to/custom1/custom1.hmm or /path/to/custom1/
#custom_ref=path/to/hmm/custom1.hmm
#custom_ref=path/to/hmm/custom2.dmnd
#to set the weight, simply add a line with the hmm file name followed by _weight , like so:
#custom1_weight=0.5

