#This file is meant to be edited in your own distribution of MANTIS
#Custom hmms can be added to the "custom_hmms" folder or their absolute path can be added here
#Please add absolute paths to hmms outside of the "custom_hmms" folder


#######DEFAULT PATHS#######
#You can add custom paths here, otherwise they will be set to default values
#ncbi_resources_folder=
#default_ref_folder=
nog_hmm_folder=NA
pfam_hmm_folder=NA
kofam_hmm_folder=NA
tigrfam_hmm_folder=NA
ncbi_hmm_folder=NA
tcdb_seq_folder=NA


#######CUSTOM HMMS#######
#custom_ref=
